<div class="custom-icon-space">
    ---
    <div class="circle">T</div>
    -
    <div class="circle">T</div>
    ---
</div>

{% style %}
    .custom-icon-space {
    display:flex; 
    align-items:center;
    justify-content: center;
    color:#999;
    width: 100%;
}
.custom-icon-space .circle {
    background: #999;
    height:6px;
    width:6px;
    border-radius:3px; 
    color:transparent;
    margin:1px;
}
{% endstyle %}