{%- if block.settings.menu != blank -%}
    <div class="footer-menu-container">
        <ul>
            {%- for link in block.settings.menu.links -%}
              <li>
                <div class="center_align">
                  <div class="square">T</div>
                  <a href="{{ link.url }}"  class="footer__text {% if link.active %} menu_active {% endif %}">
                    {{ link.title }}
                  </a>
                </div>
              </li>
            {%- endfor -%}
          </ul>
    </div>
  {%- endif -%}

  {% style %}
    .footer-menu-container ul {
        color:#999; 
        list-style-type: none;
        padding-left:0
    }
    .footer-menu-container ul li{
        margin-bottom:10px;
    }
    .footer-menu-container ul .square {
    height: 5px; width:5px; background:#999;color:transparent; margin-right:7px
  }

  .footer-menu-container ul li a {
    text-decoration: none;
  }

  .footer-menu-container ul li .menu_active {
    margin-left:10px;
    color:#000
  }

  .footer-menu-container ul li:hover a {
    color:#000 ;
    text-decoration: none ;
    margin-left:15px;
    

  }
  .footer-menu-container  ul li:hover .square {
    background:#000
  }
 
  {% endstyle %}