{% comment %}
    {% render 'header-menu-drop', link: link %}
{% endcomment %}
<a href="#" class="head-menu__desktop-item">{{ link.title | upcase }}</a>
{% if link.links[0].title != blank %}
    <span class="head-menu__desktop-item-down"><i class="fa-solid fa-chevron-down"></i></span>
{% endif %}
<input type="checkbox" id="showMenuDrop" class="showMenuDrop"/>
<label for="showMenuDrop" class="head-menu__mobile-item">{{ link.title | upcase }}<i class="fa-solid fa-chevron-down"></i></label>
<ul class="head-menu__drop head-menu__shadown">
    {%- for childlink in link.links -%}
        <li><a href="{{ childlink.url }}">{{ childlink.title | escape }}</a></li>
    {%- endfor -%}
  </ul>