{% style %}
    .loader {
        position: fixed;
        width: 100vw;
        height: 100vh;
        top: 0;   
        left: 0 ;
        background: #f7f9fb;
        transition: opacity 0.75s, visibility 0.75s;
        display: flex;
        justify-content: center;
        align-items: center;
        color:transparent;
        z-index: 1000;
    }

    .loader-hidden {
        opacity: 0;
        visibility: hidden ;
    }
    /* .loader::after {
        content: "";
        width: 75px;
        height: 75px;
        border: 15px solid #ddd;
        border-top-color:red;
        border-radius: 50%;
        animation: loading 0.75s ease infinite;
    } */

    /* @keyframes loading {
        from{
            transform: rotate(0turn);
        }
        to{
            transform: rotate(1turn);
        }
    } */

    @keyframes ldio-4unbkv7saqg {
       0% { transform: translate(12px,80px) scale(0); }
      25% { transform: translate(12px,80px) scale(0); }
      50% { transform: translate(12px,80px) scale(1); }
      75% { transform: translate(80px,80px) scale(1); }
     100% { transform: translate(148px,80px) scale(1); }
    }
    @keyframes ldio-4unbkv7saqg-r {
       0% { transform: translate(148px,80px) scale(1): }
     100% { transform: translate(148px,80px) scale(0); }
    }
    @keyframes ldio-4unbkv7saqg-c {
       0% { background: #000000 }
      25% { background: #000000 }
      50% { background: #000000 }
      75% { background: #000000 }
     100% { background: #000000 }
    }
    .ldio-4unbkv7saqg div {
      position: absolute;
      width: 10px;
      height: 10px;
      border-radius: 50%;
      transform: translate(80px,80px) scale(1);
      background: #000000;
      animation: ldio-4unbkv7saqg 2.8571428571428568s infinite cubic-bezier(0,0.5,0.5,1);
    }
    .ldio-4unbkv7saqg div:nth-child(1) {
      background: #000000;
      transform: translate(148px,80px) scale(1);
      animation: ldio-4unbkv7saqg-r 0.7142857142857142s infinite cubic-bezier(0,0.5,0.5,1), ldio-4unbkv7saqg-c 2.8571428571428568s infinite step-start;
    }.ldio-4unbkv7saqg div:nth-child(2) {
      animation-delay: -0.7142857142857142s;
      background: #000000;
    }.ldio-4unbkv7saqg div:nth-child(3) {
      animation-delay: -1.4285714285714284s;
      background: #000000;
    }.ldio-4unbkv7saqg div:nth-child(4) {
      animation-delay: -2.142857142857143s;
      background: #000000;
    }.ldio-4unbkv7saqg div:nth-child(5) {
      animation-delay: -2.8571428571428568s;
      background: #000000;
    }
    .loadingio-spinner-ellipsis-nwmkuc3eb5r {
      width: 200px;
      height: 200px;
      display: inline-block;
      overflow: hidden;
      background:  #f7f9fb;
    }
    .ldio-4unbkv7saqg {
      width: 100%;
      height: 100%;
      position: relative;
      transform: translateZ(0) scale(1);
      backface-visibility: hidden;
      transform-origin: 0 0; /* see note above */
    }
    .ldio-4unbkv7saqg div { box-sizing: content-box; }
{% endstyle %}

<div class="loader">
    t
    <div class="loadingio-spinner-ellipsis-nwmkuc3eb5r">
        <div class="ldio-4unbkv7saqg">
            <div>t</div>
            <div>t</div>
            <div>t</div>
            <div>t</div>
            <div>t</div>
        </div></div>
</div>

<script>
    window.addEventListener("load",() => {
        const loader = document.querySelector('.loader');
        loader.classList.add('loader-hidden')

        loader.addEventListener("transitionend",() => {
          document.body.removeChild("loader")
        })
      })
</script>