<div>
    {%- comment -%} facebook {%- endcomment -%}
    <div style="overflow: hidden;width: 30px; position: relative;color:pink;height:30px">
        <div style="position: absolute; z-index: 1;height:30px;width:30px">
            {%- render 'icon-facebook' -%}
        </div>
         <div class="fb-share-button" 
             data-href="https://oldshow.myshopify.com/products/girl-02" 
             data-layout="button_count" 
             style="opacity:0; position: absolute; z-index: 2;"
             data-size="small">
             <a target="_blank" 
             class="fb-xfbml-parse-ignore">Chia sẻ</a>
         </div>
        </div>
</div>
<script>
    
</script>
<script async defer crossorigin="anonymous" src="https://connect.facebook.net/vi_VN/sdk.js#xfbml=1&version=v15.0" nonce="yA0BDsKZ"></script>