{% comment %}
    trả về ticker trên thanh menu

    Accepts:
    - content: nội dung
    - color: màu nền

     Usage:
        {% render 'ticker',content:'HOT!',color:'#CD0004' %}
{% endcomment %}

<div class="ticker-container">
    <div class="ticker__body">
        <p>
            {% if content %}
                {{content}}
            {% else %}
                ticker
            {% endif %}
        </p>
    </div>
    <div class="ticker__footer">t</div>
  </div>
  {% style %}
    .ticker-container{
        position:absolute;
        top:10px;
        right:8px;;
        display:flex;
        flex-direction: column;
        align-items:center
    }
    .ticker-container .ticker__body {
        background:{{color}}; 
        padding:2px 4px;
        border-radius:2px;
        color:#fff;
        font-size:10px;
        font-weight:600
    }
    .ticker-container .ticker__body p {
        margin:0;
        line-height:12px
    }
    .ticker-container .ticker__footer {
      width: 0;
      height: 0;
      border-left: 0px solid transparent;
      border-right: 4px solid transparent;
      border-top: 5px solid {{color}};
      color:transparent
    }
  {% endstyle %}