{{ 'customer.css' | asset_url | stylesheet_tag }}
{{ 'common.css' | asset_url | stylesheet_tag }}

<div class="page-width" style="display: flex;">
  <div class="login-left">
    {% render 'login-form' %}
  </div>
  <div class="account-right">
    {% render 'register-form' %}
  </div>
</div>

