{% assign number_column = section.settings.number_column %}
{% case number_column %}
    {% when 2 %}
        {% assign row = "flex-container-2" %}
    {% when 3 %}
        {% assign row = "flex-container-3" %}
    {% when 4 %}
        {% assign row = "flex-container-4" %}
    {% else %}
        {% assign row = "flex-container-5" %}
{% endcase %}

<div class="list-card-line-container">
    <div class="{{row}} page-width">
        {% for block in section.blocks %}
            {% assign items = block.settings %}
            <div style="padding:0 {{ section.settings.padding_card }}px; ">
                {%- comment -%} content {%- endcomment -%}
                    <div class="container-content-card">
                      <div class="wrap-text-card" >
                        {% if forloop.index == 1 %}
                            <div class="custom-icon">
                                {% render 'icon-accordion', icon: 'map_pin' %}
                            </div>
                            {% elsif forloop.index == 2 %}
                            <div class="custom-icon">
                                <svg viewBox="0 0 20 20" class="Icon_Icon__Dm3QW" style="width: 30px; height: 30px;"><path d="M10 20c-5.514 0-10-4.486-10-10s4.486-10 10-10 10 4.486 10 10-4.486 10-10 10zm1-15a1 1 0 1 0-2 0v.17a3 3 0 0 0-2 2.83c0 1.013.36 1.77 1.025 2.269.54.405 1.215.572 1.666.685l.066.016c.55.138.835.224 1.018.361.085.064.225.182.225.669a1 1 0 0 1-.984 1 1.611 1.611 0 0 1-.325-.074 2.533 2.533 0 0 1-.984-.633 1 1 0 0 0-1.414 1.414 4.548 4.548 0 0 0 1.707 1.097v.196a1 1 0 1 0 2 0v-.17a3 3 0 0 0 2-2.83c0-1.013-.36-1.77-1.025-2.269-.54-.405-1.215-.572-1.666-.685l-.066-.016c-.55-.138-.835-.224-1.018-.361-.085-.064-.225-.182-.225-.669a1 1 0 0 1 .984-1 1.618 1.618 0 0 1 .325.074c.245.081.606.255.984.633a1 1 0 1 0 1.414-1.414 4.547 4.547 0 0 0-1.707-1.097v-.196z"></path></svg>
                            </div>
                            {% else %}
                            <div class="custom-icon">
                                {% render 'icon-accordion', icon: 'chat_bubble' %} 
                            </div>
                        {% endif %}
                      
                            <h2 class="text_white uppercase">{{ items.title }}</h2>
                            <p class="text_white">{{ items.content }}</p>
                        </div>
                    </div>
                {%- comment -%} endcontent {%- endcomment -%}
            </div>
        {% endfor %}
    </div>
</div>
{%- comment -%} <script>
    var imageElement = document.querySelector('.container-content-card');
    var imageElement1 = document.querySelectorAll('.container-content-card');
    var imageWidth = imageElement.clientWidth;
    var imageHieght =  55 * imageWidth / 100;
    for(let i = 0 ; i < imageElement1.length; i++){
        imageElement1[i].style.height = `${Math.round(imageHieght)}px`;
    }
</script> {%- endcomment -%}
{% schema %}
{
    "name": "Card line custom",
    "tag": "section",
    "settings": [
        {
            "type": "range",
            "id": "padding_card",
            "label": "Padding card",
            "default":0,
            "min":0,
            "max":50
        },
        {
            "type": "range",
            "id": "number_column",
            "label": "Number of columns on desktop",
            "default":3,
            "min":2,
            "max":5
        }
    ],
    "blocks":[
        {
            "type":"card",
            "name":"Card",
            "limit":5,
            "settings":[
                {
                    "type":"image_picker",
                    "id":"image",
                    "label":"Image"
                },
                {
                    "type": "text",
                    "id": "heading",
                    "label": "Heading",
                    "default":"Mens shop"
                },
                {
                    "type": "text",
                    "id": "title",
                    "label": "Title",
                    "default":"Title"
                },
                {
                    "type": "text",
                    "id": "content",
                    "label": "Content",
                    "default":"Content"
                },
                {
                    "type": "text",
                    "id": "text_button",
                    "label": "Button content",
                    "default":"Button content"
                },
                {
                    "type": "url",
                    "id": "button_url",
                    "label": "Button url"
                }
            ]
        }
    ],
    "presets":[
        {
            "category":"Card line 1",
            "name":"Card line custom",
            "blocks": [
                {
                "type": "card"
                },
                {
                "type": "card"
                },
                {
                "type": "card"
                }
            ]
        }
    ]
}
{% endschema %}