<div class="custom-space-container {% unless section.settings.full_width %} page-width {% endunless %}">
    <div style="margin-top:{{section.settings.margin_top}}px;margin-bottom:{{section.settings.margin_bottom}}px;">
        {% if section.settings.show_line %}
            {% if section.settings.type_show == "line" %}
                <div class="space__content line" >
                    T
                </div>
            {% else %}
                <div class="custom-icon-space">
                    - - -
                    <div class="circle">T</div>
                    -
                    <div class="circle">T</div>
                    - - -
                </div>
            {% endif %}
        {% else %}
            <div class="space__content">t</div>
        {% endif %}
    </div >
</div>
{% style %}
    .custom-space-container .space__content {
        color:transparent
    }
    .custom-space-container .line{
        height:1px;
        background:#ededed
    }
{% endstyle %}
{% schema %}
{
    "name":"Space",
    "tag":"section",
    "settings":[
        {
            "type":"checkbox",
            "id":"full_width",
            "label":"Full width",
            "default":false
        },
        {
            "type":"checkbox",
            "id":"show_line",
            "label":"Show line",
            "default":false
        },
        {
            "type":"select",
            "id":"type_show",
            "label":"Show",
            "options":[
							{
								"value":"line",
								"label":"line"
							},
                            {
								"value":"icon-custom",
								"label":"icon-custom"
							}
						],
            "default":"line"
        },
        {
            "type":"range",
            "id":"margin_top",
            "label":"Margin top",
            "default":5,
            "min":1,
            "max":100
        },
        {
            "type":"range",
            "id":"margin_bottom",
            "label":"Margin bottom",
            "default":5,
            "min":1,
            "max":100
        }
    ],
    "presets":[
        {
            "name":"Space"
        }
    ]
}
{% endschema %}