<div class="custom-support-container">
    <div class="row">
        {% for block in section.blocks %}
            <div class="col">
                {% if block.image != blank %}
                    <img src="{{}}"/>
                {% elsif block.icon_svg != blank %}
                    {{block.icon_svg}}
                {% else %}
                    {% render 'icon-accordion', icon: 'stopwatch' %}
                {% endif %}
            </div>
        {% endfor %}
       
    </div>
</div>

{% style %}

{% endstyle %}
   
{% schema %}
   {
       "name":"support",
       "tag":"section",
     
      "blocks":[
        {
            "type":"card",
            "name":"Card",
            "limit":3,
            "settings":[
                {
                    "type":"text",
                    "id":"title",
                    "default":"Shop Worldwide",
                    "label":"Title"
                },
                {
                    "type":"text",
                    "id":"description",
                    "default":"Shop Worldwide",
                    "label":"Description"
                },
                {
                    "type":"image_picker",
                    "id":"image",
                    "label":"Image"
                },
                {
                    "type":"liquid",
                    "id":"icon_svg",
                    "label":"Icon svg"
                }
            ]
        }
      ],
     "presets": [
       {
           "category": "support",
           "name":"support",
           "blocks":[
                {
                    "type":"card"
                },
                {
                    "type":"card"
                },
                {
                    "type":"card"
                }
           ]
       }
     ]
   }
{% endschema %}