<div>
   <div class="head">
    <h3>PRODUCT DESCRIPTION</h3>
    <h3>PREVIEW</h3>
    <h3>TAGS</h3>
    <h3>ADITIONAL INFORMATION</h3>
   </div>
   <div class="content">
    <h4>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius eaque incidunt suscipit magnam nostrum aperiam tempore ullam quidem? Dolor natus ducimus delectus magnam et culpa modi, excepturi ea illo esse.</h4>
    <ul>
        <li><h4>Length 74</h4></li>
        <li><h4>Lorem ipsum dolor sit amet.</h4></li>
        <li><h4>Length 74</h4></li>
        <li><h4>Ragular gif</h4></li>
        <li><h4>Length 745</h4></li>
        <li><h4>Length 74</h4></li>
    </ul>
   </div>
</div>
{% style %}
    
{% endstyle %}
{% schema %}
{
    "name":"Tabs",
    "tag":"section",
    "settings":[
        {
            "type":"text",
            "id":"texxt",
            "label":"Text",
            "default":"text etx"
        }
    ],
    "presets":[
        {
            "name":"Tabs"
        }
    ]
}
{% endschema %}