{{ 'custom-menu.css' | asset_url | stylesheet_tag }}
<div id="custom-menu-container">
    <div class="mega-menu">
        <ul>
            {% for link in section.settings.menu.links %}
                <li>
                   <a href="#">{{ link.title | escape }}</a>
                   <ul class="sub-menu">
                    {% for childlink in link.links %}
                        <li >
                            <a> {{ childlink.title | escape }}</a>
                            <ul class="grandchild-menu">
                                {% for grandchildlink in childlink.links %}
                                    <li>
                                        <a>{{ grandchildlink.title | escape }}</a>
                                    </li>
                                {% endfor %}
                            </ul>
                        </li>
                    {% endfor %} 
                   </ul>
                </li>
            {% endfor %}
           </ul>
    </div>
</div>

{% style %}
  
{% endstyle %}

{% schema %}
{
    "name":"Menu",
    "settings":[
        {
            "type": "link_list",
            "id": "menu",
            "default": "main-menu",
            "label": "t:sections.header.settings.menu.label"
        },
        {
            "type":"checkbox",
            "id":"show_mega_menu",
            "default":true,
            "label":"Show mega menu"
        }
    ]
}
{% endschema %}