<div class="section-tabs page-width">
    <ul class="tabs">
        <li class="tab" data-content-id="tab-content-1">PRODUCT DESCRIPTION</li>
        <li class="tab" data-content-id="tab-content-2">PREVIEW</li>
        <li class="tab" data-content-id="tab-content-3">TAGS</li>
        <li class="tab" data-content-id="tab-content-4">ADITIONAL INFORMATION</li>
        <li class="tab" data-content-id="tab-content-5">Custom tab info</li>
        <li class="tab" data-content-id="tab-content-6">Custom tab video</li>
    </ul>
    <div class="tabs__line">line</div>
    <div class="tab-content" id="tab-content-1">
        <h4 class="tabs-content__description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius eaque incidunt suscipit magnam nostrum aperiam tempore ullam quidem? Dolor natus ducimus delectus magnam et culpa modi, excepturi ea illo esse.</h4>
        <ul>
            <li>
                <div class="tabs__square">t</div><h4>Length 74</h4></li>
            <li>
                <div class="tabs__square">t</div><h4>Lorem ipsum dolor sit amet.</h4></li>
            <li>
                <div class="tabs__square">t</div><h4>Length 74</h4></li>
            <li>
                <div class="tabs__square">t</div><h4>Ragular gif</h4></li>
            <li>
                <div class="tabs__square">t</div><h4>Length 745</h4></li>
            <li>
                <div class="tabs__square">t</div><h4>Length 74</h4></li>
        </ul>
    </div>
    <div class="tab-content" id="tab-content-2">
        <h4 class="tabs-content__description tab__weight">Lorem ipsum dolor sit amet, consectetur adipiscing elit !</h4>
        <h4 class="tabs-content__description">Suspendisse ultricies scelerisque turpis, elementum ornare arcu posuere mollis. Donec vitae tempor ante, ut tempus augue. Maecenas aliquam, ante quis egestas molestie, ipsum sapien faucibus lorem, ac placerat magna purus id quam. Proin id felis sapien.</h4>

    </div>
    <div class="tab-content" id="tab-content-3">Tab content 3</div>
    <div class="tab-content" id="tab-content-4">Tab content 4</div>
    <div class="tab-content" id="tab-content-5">Tab content 5</div>
    <div class="tab-content" id="tab-content-6">Tab content 6</div>
</div>
{% style %}
    ul.tabs{
        list-style-type: none;
        margin:0;
    }
    li.tab{
        display:inline-block;
        text-transform:uppercase;
        font-weight:var(--font-text-semibold);
        padding:20px;
        margin:0;
        border-bottom:2px solid transparent;
        font-size:var(--font-text-base);
        color:#cecece;
        cursor:pointer;
       
    }
    li.tab.active,
    .tab:hover{
        border-bottom:2px solid #000;
        color:#000;
    }
    .tab-content {
        display: none;
        margin-top:30px
    }
    .tab-content.active{
        display: block;
    }
    /* content */
    .tabs-content__description {
        color:var(--color-gray-text-666);
        font-size:var(--font-text-base);
        margin:0;
        line-height:27px;
        font-family:var(--font-family-1);
    }
    .tab__weight{
        font-weight:700
    }
    .tab-content ul {
        color:#999;
        list-style-type: none
    }
    .tab-content ul li {
       display:flex;
       align-items:center;
       margin:10px 0;
    }
    .tab-content ul li h4{
        font-size:var(--font-text-13);
        font-weight:var(--font-text-normal);
        font-family:var(--font-family-1);
        margin:0
     
    }

  .tabs__line {
        height:1px;
        background:#999;
        color:transparent;
        width:100%
    }
   .tabs__square{
        height:5px;
        width:5px;
        background:var(--color-gray-text-666);
        color:transparent;
        margin-right:10px;
    }
    @media screen and (max-width:800px){
        .tabs-container .head{
            display:block;
        }
    }
{% endstyle %}
<script>
    var tabs = document.querySelectorAll('.tab')
    var tabsContents = document.querySelectorAll('.tab-content')
     tabs.forEach(function(tab) {
        
            tabs[0].classList.add('active');
            tabsContents[0].classList.add('active');

         tab.addEventListener('click',function() {

             var contentId = this.dataset.contentId;
             var content = document.getElementById(contentId)

             tabsContents.forEach(function(content){
                 content.classList.remove('active');
             })
             tabs.forEach(function(tab){
                 tab.classList.remove('active');
             })
             this.classList.add('active');
             content.classList.add('active');
         })
     })
 </script>
{% schema %}
{
    "name":"Tabs",
    "tag":"section",
    "settings":[
        {
            "type":"text",
            "id":"texxt",
            "label":"Text",
            "default":"text etx"
        }
    ],
    "presets":[
        {
            "name":"Tabs"
        }
    ]
}
{% endschema %}