{%- comment -%} <div class="page-width tabs-container">
    <input type="radio" name="mytabs" id="tab1" checked="checked"/>
    <label for="tab1">Tab1</label>
    <div class="tab-content">
        <h2>Tabs 1</h2>
        <p>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Similique enim ullam est veniam obcaecati nihil possimus soluta quisquam. Inventore, quia velit. Fuga placeat quam iste repudiandae culpa quas doloribus? Ipsum asperiores nesciunt iste mollitia, dignissimos modi id aliquid libero soluta?
        </p>
    </div>
    <input type="radio" name="mytabs" id="tab2"/>
    <label for="tab2">Tab2</label>
    <div class="tab-content">
        <h2>Tabs 2</h2>
        <p>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Similique enim ullam est veniam obcaecati nihil possimus soluta quisquam. Inventore, quia velit. Fuga placeat quam iste repudiandae culpa quas doloribus? Ipsum asperiores nesciunt iste mollitia, dignissimos modi id aliquid libero soluta?
        </p>
    </div>
    <input type="radio" name="mytabs" id="tab3"/>
    <label for="tab3">Tab3</label>
    <div class="tab-content">
        <h2>Tabs 3</h2>
        <p>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Similique enim ullam est veniam obcaecati nihil possimus soluta quisquam. Inventore, quia velit. Fuga placeat quam iste repudiandae culpa quas doloribus? Ipsum asperiores nesciunt iste mollitia, dignissimos modi id aliquid libero soluta?
        </p>
    </div> {%- endcomment -%}
<div class="page-width tabs-container">
    <div class="head">
        <h3>PRODUCT DESCRIPTION</h3>
        <h3>PREVIEW</h3>
        <h3>TAGS</h3>
        <h3>ADITIONAL INFORMATION</h3>
    </div>
    <div class="tabs__line">line</div>
    <div class="content tabs-content">
        <h4 class="tabs-content__description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius eaque incidunt suscipit magnam nostrum aperiam tempore ullam quidem? Dolor natus ducimus delectus magnam et culpa modi, excepturi ea illo esse.</h4>
        <ul>
            <li>
                <div class="tabs__square">t</div><h4>Length 74</h4></li>
            <li>
                <div class="tabs__square">t</div><h4>Lorem ipsum dolor sit amet.</h4></li>
            <li>
                <div class="tabs__square">t</div><h4>Length 74</h4></li>
            <li>
                <div class="tabs__square">t</div><h4>Ragular gif</h4></li>
            <li>
                <div class="tabs__square">t</div><h4>Length 745</h4></li>
            <li>
                <div class="tabs__square">t</div><h4>Length 74</h4></li>
        </ul>
    </div>
</div>
{% style %}
    
    .tabs-container .head {
        display:flex;
        align-items:center;
        justify-content:center
    }
    .tabs-content__description {
        color:var(--color-gray-text-666);
        font-size:var(--font-text-sm);
        margin:0;
    }

    .tabs-container .head h3{
        font-weight:var(--font-text-semibold);
        padding:20px;
        margin:0;
        border-bottom:2px solid transparent;
        font-size:var(--font-text-base);
        color:#cecece
    }
    .tabs-container .head h3:first-child{
        border-bottom:2px solid #000;
        color:var(--color-black-text)
    }
    .tabs-container .head h3:hover{
        border-bottom:2px solid #000
    }
    .tabs-container .tabs__line {
        height:1px;
        background:#999;
        color:transparent;
        width:100%
    }
    .tabs-container .content {
        margin-top:30px
    }
    .tabs-container .content ul {
        color:#999;
        list-style-type: none
    }
    .tabs-container .content ul li {
       display:flex;
       align-items:center;
       margin:10px 0;
    }
    .tabs-container .content li h4{
    color:var(--color-gray-text-666);
    font-size:var(--font-text-13);
    margin:0;
    }
    .tabs-container .tabs__square{
        height:5px;
        width:5px;
        background:var(--color-gray-text-666);
        color:transparent;
        margin-right:10px;
    }
    @media screen and (max-width:800px){
        .tabs-container .head{
            display:block;
        }
    }
{% endstyle %}
{% schema %}
{
    "name":"Tabs",
    "tag":"section",
    "settings":[
        {
            "type":"text",
            "id":"texxt",
            "label":"Text",
            "default":"text etx"
        }
    ],
    "presets":[
        {
            "name":"Tabs"
        }
    ]
}
{% endschema %}