{% comment %}
        {% section 'icon-default' %}
{% endcomment %}
<div class="icon-default-container">
    <div class="item">
        {% render 'icon-accordion', icon: 'price_tag' %}
        <p style="margin: 0;">price_tag</p>
    </div>
    <div class="item">
        {% render 'icon-accordion', icon: 'map_pin' %}
        <p style="margin: 0;">map_pin</p>
    </div>
    <div class="item">
        {% render 'icon-accordion', icon: 'apple' %}
        <p style="margin: 0;">apple</p>
    </div>
    <div class="item">
        {% render 'icon-accordion', icon: 'banana' %}
        <p style="margin: 0;">banana</p>
    </div>
    <div class="item">
        {% render 'icon-accordion', icon: 'bottle' %}
        <p style="margin: 0;">bottle</p>
    </div>
    <div class="item">
        {% render 'icon-accordion', icon: 'box' %}
        <p style="margin: 0;">box</p>
    </div>
    <div class="item">
        {% render 'icon-accordion', icon: 'carrot' %}
        <p style="margin: 0;">carrot</p>
    </div>
    <div class="item">
        {% render 'icon-accordion', icon: 'chat_bubble' %}
        <p style="margin: 0;">chat_bubble</p>
    </div>
    <div class="item">
        {% render 'icon-accordion', icon: 'check_mark' %}
        <p style="margin: 0;">check_mark</p>
    </div>
    <div class="item">
        {% render 'icon-accordion', icon: 'clipboard' %}
        <p style="margin: 0;">clipboard</p>
    </div>
    <div class="item">
        {% render 'icon-accordion', icon: 'dairy_free' %}
        <p style="margin: 0;">dairy_free</p>
    </div>
    <div class="item">
        {% render 'icon-accordion', icon: 'dairy' %}
        <p style="margin: 0;">dairy</p>
    </div>
    <div class="item">
        {% render 'icon-accordion', icon: 'dryer' %}
        <p style="margin: 0;">dryer</p>
    </div>
    <div class="item">
        {% render 'icon-accordion', icon: 'eye' %}
        <p style="margin: 0;">eye</p>
    </div>
    <div class="item">
        {% render 'icon-accordion', icon: 'fire' %}
        <p style="margin: 0;">fire</p>
    </div>
    <div class="item">
        {% render 'icon-accordion', icon: 'gluten_free' %}
        <p style="margin: 0;">gluten_free</p>
    </div>
    <div class="item">
        {% render 'icon-accordion', icon: 'heart' %}
        <p style="margin: 0;">heart</p>
    </div>
    <div class="item">
        {% render 'icon-accordion', icon: 'iron' %}
        <p style="margin: 0;">iron</p>
    </div>
    <div class="item">
        {% render 'icon-accordion', icon: 'leaf' %}
        <p style="margin: 0;">leaf</p>
    </div>
    <div class="item">
        {% render 'icon-accordion', icon: 'leather' %}
        <p style="margin: 0;">leather</p>
    </div>
    <div class="item">
        {% render 'icon-accordion', icon: 'lightning_bolt' %}
        <p style="margin: 0;">lightning_bolt</p>
    </div>
    <div class="item">
        {% render 'icon-accordion', icon: 'lipstick' %}
        <p style="margin: 0;">lipstick</p>
    </div>
    <div class="item">
        {% render 'icon-accordion', icon: 'lock' %}
        <p style="margin: 0;">lock</p>
    </div>
    <div class="item">
        {% render 'icon-accordion', icon: 'nut_free' %}
        <p style="margin: 0;">nut_free</p>
    </div>
    <div class="item">
        {% render 'icon-accordion', icon: 'pants' %}
        <p style="margin: 0;">pants</p>
    </div>
    <div class="item">
        {% render 'icon-accordion', icon: 'paw_print' %}
        <p style="margin: 0;">paw_print</p>
    </div>
    <div class="item">
        {% render 'icon-accordion', icon: 'pepper' %}
        <p style="margin: 0;">pepper</p>
    </div>
    <div class="item">
        {% render 'icon-accordion', icon: 'plane' %}
        <p style="margin: 0;">plane</p>
    </div>
    <div class="item">
        {% render 'icon-accordion', icon: 'gluten_free' %}
        <p style="margin: 0;"></p>
    </div>
    <div class="item">
        {% render 'icon-accordion', icon: 'plant' %}
        <p style="margin: 0;">plant</p>
    </div>
    <div class="item">
        {% render 'icon-accordion', icon: 'price_tag' %}
        <p style="margin: 0;">price_tag</p>
    </div>
    <div class="item">
        {% render 'icon-accordion', icon: 'gluten_free' %}
        <p style="margin: 0;"></p>
    </div>
    <div class="item">
        {% render 'icon-accordion', icon: 'question_mark' %}
        <p style="margin: 0;">question_mark</p>
    </div>
    <div class="item">
        {% render 'icon-accordion', icon: 'recycle' %}
        <p style="margin: 0;">recycle</p>
    </div>
    <div class="item">
        {% render 'icon-accordion', icon: 'serving_dish' %}
        <p style="margin: 0;">serving_dish</p>
    </div>
    <var> <div class="item">
        {% render 'icon-accordion', icon: 'ruler' %}
        <p style="margin: 0;">ruler</p>
    </div>
    <div class="item">
        {% render 'icon-accordion', icon: 'gluten_free' %}
        <p style="margin: 0;"></p>
    </div>
    <div class="item">
        {% render 'icon-accordion', icon: 'shirt' %}
        <p style="margin: 0;">shirt</p>
    </div>
    <div class="item">
        {% render 'icon-accordion', icon: 'shoe' %}
        <p style="margin: 0;">shoe</p>
    </div>
    <div class="item">
        {% render 'icon-accordion', icon: 'silhouette' %}
        <p style="margin: 0;">silhouette</p>
    </div>
    <div class="item">
        {% render 'icon-accordion', icon: 'snowflake' %}
        <p style="margin: 0;">snowflake</p>
    </div>
    <div class="item">
        {% render 'icon-accordion', icon: 'star' %}
        <p style="margin: 0;">star</p>
    </div>
    <div class="item">
        {% render 'icon-accordion', icon: 'stopwatch' %}
        <p style="margin: 0;">stopwatch</p>
    </div>
    <div class="item">
        {% render 'icon-accordion', icon: 'truck' %}
        <p style="margin: 0;">truck</p>
    </div>
    <div class="item">
        {% render 'icon-accordion', icon: 'washing' %}
        <p style="margin: 0;">washing</p>
    </div>
    <div class="item">
        {% render 'icon-accordion', icon: 'check_mark' %}
        <p style="margin: 0;">check_mark</p>
    </div>
    <div class="item">
        {% render 'icon-3d-model' %}
        <p style="margin: 0;">icon-3d-model</p>
    </div>
    <div class="item">
        {% render 'icon-caret' %}
        <p style="margin: 0;">icon-caret</p>
    </div>
   <div>
    <div class="item">
    <svg viewBox="0 0 20 20" class="Polaris-Icon__Svg" focusable="false" aria-hidden="true">
        <path d="M15 10a1 1 0 0 1-1 1h-3v3a1 1 0 1 1-2 0v-3h-3a1 1 0 1 1 0-2h3v-3a1 1 0 0 1 2 0v3h3a1 1 0 0 1 1 1zm-5-8a8 8 0 1 0 0 16 8 8 0 0 0 0-16z">
        </path>
      </svg>
      <p style="margin: 0;">Polaris-Icon</p>
    </div>
    <div class="item">
        <svg viewBox="0 0 20 20" class="Polaris-Icon__Svg_375hu" focusable="false" aria-hidden="true"><path fill-rule="evenodd" d="M4.5 0h11a1.5 1.5 0 0 1 1.5 1.5v18.223a.2.2 0 0 1-.335.148l-1.662-1.513a.5.5 0 0 0-.673 0l-1.66 1.51a.5.5 0 0 1-.673 0l-1.66-1.51a.5.5 0 0 0-.674 0l-1.66 1.51a.5.5 0 0 1-.673 0l-1.66-1.51a.5.5 0 0 0-.673 0l-1.662 1.512a.2.2 0 0 1-.335-.147v-18.223a1.5 1.5 0 0 1 1.5-1.5zm4.207 11.293c.667.667 1.29.706 1.316.707.528 0 .977-.448.977-1 0-.646-.128-.751-1.243-1.03h-.001c-1.031-.258-2.756-.69-2.756-2.97a2.993 2.993 0 0 1 2-2.815v-.185a1 1 0 0 1 2 0v.2a4.51 4.51 0 0 1 1.707 1.093 1 1 0 0 1-1.414 1.414c-.667-.667-1.291-.706-1.317-.707-.528 0-.976.448-.976 1 0 .646.127.751 1.242 1.03h.002c1.03.258 2.756.69 2.756 2.97a2.995 2.995 0 0 1-2 2.815v.185a1 1 0 0 1-2 0v-.2a4.49 4.49 0 0 1-1.707-1.093 1 1 0 1 1 1.414-1.414z"></path></svg>
        <p style="margin: 0;">Price-01</p>
    </div>
</div>
{% style %}
.icon-default-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction:row; 
    height:100%
}
.icon-default-container  .item {
    display:flex; 
    justify-content:center;
    align-items:center; 
    flex-direction:column; 
    border:1px solid #999;
    padding:10px; 
    margin:5px;
    max-height:70px;
    flex-grow: 1
}
{% endstyle %}