<div></div>
{% schema %}
{
    "name":"Image list",
    "tag":"section",
    "settings":[
        {
            "type":"range",
            "label":"Marrgin card",
            "id":"marrgin-card",
            "default":0,
            "min":0,
            "max":100
        }
    ],
    "blocks":[
        {
            "name":"Image",
            "type":"image_block",
            "settings":[
               {
                "type":"image_picker",
                "id":"image",
                "label":"Image"
               }
            ]
        }
    ],
    "presets":[
				{
					"name":"Image list" 
				}
			]
}
{% endschema %}