{% comment %}

  Renders a Carousel
  Request:
    - add link in theme:
      <link rel="stylesheet" href="https://unpkg.com/flickity@2/dist/flickity.min.css">
      <script src="https://unpkg.com/flickity@2/dist/flickity.pkgd.min.js"></script>
    - for loop
  Accepts:null
  Usage:
  {% section 't03-carousel' %}

{% endcomment %}
{%- capture flickity_options -%}
{
  "prevNextButtons": true,
  "pageDots": false,
  "contain": true,
  "cellAlign": "left",
  "groupCells": true,
  "autoPlay": false,
  "arrowShape": {"x0": 20, "x1": 60, "y1": 40, "x2": 60, "y2": 35, "x3": 25}
}
{%- endcapture -%}

<div class="featured-collection-slider">
        <div class="products-carousel js-flickity" data-flickity='{{ flickity_options }}'>
          <!-- hoặc sử dụng vòng lặp for từ collection truyền vào trong content -->
            {% for block in section.blocks  %}
              <div class="carousel-cell">
                <img style="width:100%" src="{{block.settings.image | img_url:'large'}}"/>
              </div> 
            {% endfor %}
        </div>
          <div class="carousel__wrap-button">
            <div class="carousel__button">Prev</div>
            <div class="carousel__button">Next</div>
          </div>
       
</div>

  <div class="demo1">
   <div class="demo2"> thanh</div>
  </div>
    <style>
      .flickity-button {
        background: transparent;
        z-index: 3;
        width:65px;
        height:65px;
        color: transparent;

      }
      .flickity-button:hover{
        background: transparent;
        color: transparent;
      }
      .carousel__wrap-button {
        display:flex;
        justify-content:space-between;
        width:100%;
        position:absolute;
        top:45%;
        padding: 0 10px;
      
      }
      .carousel__button {
        font-size:16px; 
        width:65px;
        height:65px; 
        word-wrap: break-word;
        padding:10px 8px;
        letter-spacing: 7px;
        color: #fff;
        text-align: center;
        text-transform: uppercase;
        background:rgba(161, 161, 161, 0.8) none repeat scroll 0 0
      }
        .featured-collection-slider{
          margin: 0 auto;
          position:relative;
          background: gold;
        }
        .featured-collection-slider .carousel-cell{
          width:25%;
          padding: 0;
          display: block;
        }
        .flickity-button:disabled{
          pointer-events: all!important;
        }
        @media screen and (max-width: 920px){
          .featured-collection-slider{
            padding-left: 15px;
            padding-right: 15px;
          }
          .featured-collection-slider .carousel-cell{
            width:50%;
          }
        }
        @media screen and (max-width: 767px){
          .featured-collection-slider .carousel-cell{
            width:100%;
          }
        }
        </style>
<script>
 var he = document.querySelector(".demo1 .demo2")
 console.log("demo:", {hay:he})
</script>
{% schema %}

{
    "name":"Carousel",
    "tag":"section",
    "settings":[
        {
            "type": "text",
            "id": "title",
            "label": "Heading",
            "default": "Featured Collection"
        },
         {
            "type": "collection",
            "id":"feature-collection",
            "label":"Collection"
        },
        {
            "type": "range",
            "id": "product_count",
            "min": 4,
            "max": 12,
            "label": "Number of products to display",
            "default": 4
          }
    ],
    "blocks":[
      {
        "name":"Image",
        "type":"image",
        "settings":[
          {
            "type": "image_picker",
            "id": "image",
            "label": "Select image"
          }
        ]
      }
    ],
    "presets": [
    {
        "name":"Carousel"
    }
   ]
}
{% endschema %}