<div class="page-width">
    <div style="width:100%; display:flex">
        <div style="width:50%">
            {% for block in section.blocks %}
                {% assign items = block.settings %}
                {% capture thecycle %}{% cycle 'odd', 'even' %}{% endcapture %}
                {% if thecycle == 'odd' %}
                  <div  style="padding:12px">
                    <img src="{{items.image | img_url:'large'}}" width="100%" />
                  </div>
                {% endif %} 
            {% endfor %}
        </div>
        <div  style="width:50%">
            {% for block in section.blocks %}
                {% assign items = block.settings %}
                {% capture thecycle %}{% cycle 'odd', 'even' %}{% endcapture %}
                {% if thecycle == 'odd' %}
                  <div  style="padding:12px">
                    <img src="{{items.image | img_url:'large'}}" width="100%"/>
                  </div>
                {% endif %} 
            {% endfor %}
        </div>
    </div>
</div>
{% schema %}
{
    "name":"page about",
    "blocks":[
        {
            "type":"image",
            "name":"Image",
            "settings":[
                {
                    "type":"image_picker",
                    "id":"image",
                    "label":"Select image"
                },
                {
                    "type":"text",
                    "id":"title",
                    "default":"Title",
                    "label":"Title"
                },
                {
                    "type":"text",
                    "id":"descriptions",
                    "default":"this is descriptions",
                    "label":"Description"
                }
            ]
        }
    ]
}
{% endschema %}