{{ "section-product.css" | asset_url | stylesheet_tag }}



<div class="section-product-container page-width">
    <div class="section-product__top">
        <div class="section-product__heading">
            <p>{{ section.settings.heading }}</p>
        </div>
        {% render 'custom-icon' %}
        <div class="tabs-container" style="margin-bottom: 30px;margin-top:30px">
            <div class="item">
                <h3>BEST SELLER</h3>
            </div>
            <div class="item">
                <div class="wrap-text">
                    <div class="circle">T</div>
                    <h3>NEW ARRIVAL</h3>
                </div>
            </div>
            <div class="item">
                <div class="wrap-text">
                    <div class="circle">T</div>
                    <h3>MOST WANTED</h3>
                </div>
            </div>
        </div>
    </div>
    <div class="row s-product__body" style="height: 100%;">
        {% for product in collections[section.settings.collection].products limit: 8 %}
            {% render 'section-product-card', product: product %}
        {% endfor %}
    </div>
</div>

{% style %}
    .s-product__body{
        overflow:hidden;
       
    }
{% endstyle %}
{% schema %}
    {
      "name":"Section product",
      "tag":"section",
      "settings":[
            {
                "type": "collection",
                "id": "collection",
                "label": "Collection"
            },
            {
                "type": "text",
                "id": "heading",
                "label": "Heading",
                "default":"Check our products"
            }
      ],
      "presets":[
				{
					"category":"Collection",
					"name":"Section product"
				}
			]
    }
{% endschema %}