:root {
    --color-transparent: transparent;
    --color-black: #000;
    --color-white: #fff;

    --color-black-text: #000;
    --color-white-text: #fff;

    --color-black-bg: #000;
    --color-white-bg: #fff;

    --color-black-button: #000;
    --color-white-button: #fff;

    --color-gray-border: #999;
    --color-black-border: #000;
    --color-white-border: #fff;
}
a,
p{
    font-family: var(--font-body-family);
    font-style: var(--font-body-style);
}
/* text color */
.text_link{
    text-decoration: none;
}
.text_black{
    color:var(--color-black-text);
}
.text_white{
    color: var(--color-white-text)
}

.uppercase{
    text-transform: uppercase !important;
}

/* text weight */
.text_400{
    font-weight: 400;
}
.text_500{
    font-weight: 500;
}
.text_600{
    font-weight: 600;
}

/* margin */
.mt_10{
    margin-top: 10px;
}
.mb_10{
    margin-bottom: 10px;
}
.mr_10{
    margin-right: 10px;
}
.ml_10{
    margin-left: 10px;
}
.mg_20{
    margin: 20px;
}
.mt_20{
    margin-top: 20px;
}
.mb_20{
    margin-bottom: 20px;
}
.mr_20{
    margin-right: 20px;
}
.ml_20{
    margin-left: 20px;
}
.mg_20{
    margin: 20px;
}

/* display center*/
.custom_center{
    display: flex;
    justify-content: center;
    align-items: center;
}
.center_justify{
    display: flex;
    justify-content: center;
}
.center_align{
    display: flex;
    align-items: center;
}

.width-full {
    width:100% ;
}

/* row column */
.flex_container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.flex_column {
    flex-grow: 1;
}
.list-card-container{
    height: 100%;
    background: pink;
  
}
.wrap-card-image-container {
    width: 100%;
    height: 100%;
    position: relative;
}
.overlay {
    width: 100%;
    height: 100%;
    color: var(--color-transparent);
    background: var(--color-black);
    opacity: 0.5;
    position: absolute;
    display: none;
}
.wrap-card-image-container img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}
.wrap-card-image-container .wrap-text-card{
    position: absolute;
    top: 0;
    width: 100%;
    text-align: center;
    flex-direction: column;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
    padding: 0 30px;
   
}
.wrap-card-image-container:hover .overlay,
.wrap-card-image-container:hover .wrap-text-card {
    display: block;
}
.wrap-card-image-container .wrap-text-card h4 {
    font-size: 20px;
} 
.wrap-card-image-container .wrap-text-card h1 {
    margin-bottom: 0px;
} 
.wrap-card-image-container .wrap-text-card p {
    margin-top: 10px;
    margin-bottom: 50px;
} 
.custom-button {
    padding:13px 25px ;
    background: transparent;
    font-size: 14px;
    border: 1px solid var(--color-white-border);
    color:var(--color-white-button)
}
.custom-button:hover {
    border: 1px solid var(--color-black-border);
    color:var(--color-black-button)
}

@media screen and (max-width:1670px) {
    .wrap-card-image-container img {
       
    }
}

.container-content-card {
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 25px;
    margin:15px;
    background: #ECEDED;
}

.container-content-card .custom-icon {
    height: 35px !important;
    width: 35px;
}
.container-content-card h1,
.container-content-card h2,
.container-content-card h3,
.container-content-card h4,
.container-content-card h5,
.container-content-card p{
    margin: 0;
    color: #000;
}
.container-content-card p {
    color: #999;
}

.list-text-icon-container .list-text-icon__content{
    background: #f7f7f7;
    display: flex;
    justify-content: center;
    align-items: center ;
    flex-direction: column;
    padding: 30px 20px;
    text-align: center;
}
.list-text-icon__content .wrap-img {
    margin-bottom: 15px;
}

.custom-icon-space {
    display:flex; 
    align-items:center;
    color:#999
}
.custom-icon-space .circle {
    background: #999;
    height:8px;
    width:8x;
    border-radius:4px; 
    color:transparent;
    margin:5px
}