@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&family=Montserrat:wght@300;400;500;600;700&display=swap');

:root {
    --color-transparent: transparent;
    --color-black: #000;
    --color-white: #fff;

    --color-black-text: #000;
    --color-white-text: #fff;
    --color-gray-text:#999;

    --color-black-bg: #000;
    --color-white-bg: #fff;

    --color-black-button: #000;
    --color-white-button: #fff;

    --color-gray-border: #999;
    --color-black-border: #000;
    --color-white-border: #fff;

    --font-text-xs:12px;
    --font-text-sm:14px;
    --font-text-15:15px;
    --font-text-base:16px;
    --font-text-lg:18px;
    --font-text-xl:20px;
    --font-text-2xl:24px;
    --font-text-3xl:30px;
    --font-text-4xl:36px;

    --font-text-normal: 400;
    --font-text-medium: 500;
    --font-text-semibold: 600;
    --font-text-bold: 700;

    --font-family-text:'Lato'

    /* announcement-bar */
}
a,
p{
    font-family: var(--font-body-family);
    font-style: var(--font-body-style);
}

/* text color */
.text_link{
    text-decoration: none;
}
.text_black{
    color:var(--color-black-text);
}
.text_white{
    color: var(--color-white-text)
}
.text_gray{
    color: var(--color-gray-text)
}
.text_gray_100{
    color: #666
}
.uppercase{
    text-transform: uppercase !important;
}

/* text weight */
.text_400{
    font-weight: 400;
}
.text_500{
    font-weight: 500;
}
.text_600{
    font-weight: 600;
}
.text_700{
    font-weight: 700;
}
.text_10 {
    font-size: 10px;
}
.text_12 {
    font-size: var(--font-text-xs);
}
.text_14 {
    font-size: var(--font-text-sm);
}
.text_15 {
    font-size: var(--font-text-15);
}
.text_16 {
    font-size: var(--font-text-base);
}
.text_18 {
    font-size: var(--font-text-lg);
}

.title_xs {
    font-size: var(--font-text-xs);
    font-weight: var(--font-text-semibold);
}
.title_sm {
    font-size: var(--font-text-sm);
    font-weight: var(--font-text-semibold);
}
.title_base {
    font-size: var(--font-text-base);
    font-weight: var(--font-text-semibold);
}

/* margin */
.mg_0 {
    margin:0
}
.mt_5{
    margin-top: 5px;
}
.mb_5{
    margin-bottom:5px;
}
.mr_5{
    margin-right: 5px;
}
.ml_5{
    margin-left: 5px;
}
.mg_5{
    margin: 5px;
}
.mt_10{
    margin-top: 10px;
}
.mb_10{
    margin-bottom:10px;
}
.mr_10{
    margin-right: 10px;
}
.ml_10{
    margin-left: 10px;
}
.mg_10{
    margin: 10px;
}
.mt_15{
    margin-top: 15px;
}
.ml_15{
    margin-left: 15px;
}
.mr_15{
    margin-right: 15px;
}
.mb_15{
    margin-bottom: 15px;
}
.mg_15{
    margin: 15px;
}
.mg_20{
    margin: 20px;
}
.mt_20{
    margin-top: 20px;
}
.mb_20{
    margin-bottom: 20px;
}
.mr_20{
    margin-right: 20px;
}
.ml_20{
    margin-left: 20px;
}
.mg_20{
    margin: 20px;
}

/* display center*/
.custom_center{
    display: flex;
    justify-content: center;
    align-items: center;
}
.center_justify{
    display: flex;
    justify-content: center;
}
.center_align{
    display: flex;
    align-items: center;
}

.flex_column {
    flex-direction: column;
}
.flex_row {
    flex-direction: row;
}

.width-full {
    width:100% ;
}
.height-full {
    height:100% ;
}

/* row column */
.flex_container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}



.bg {
    background: red;
}

/* button */
.custom_btn {
    padding:13px 20px;
}

.line-right{
    height: 10px;
    background:var(--color-gray-border); 
    width:1px; 
    color:transparent !important;
    margin:0 10px
}

/* content */
.text_title,
.text_title p{
    letter-spacing: 4px;
    font-weight: var(--font-text-bold);
}

.container-content-card {
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 25px;
    margin:15px;
    background: #ECEDED;
}

.container-content-card .custom-icon {
    height: 35px !important;
    width: 35px;
}
.container-content-card h1,
.container-content-card h2,
.container-content-card h3,
.container-content-card h4,
.container-content-card h5,
.container-content-card p{
    margin: 0;
    color: #000;
}
.container-content-card p {
    color: #999;
}

/* .tabs-container {
    display: flex;
    flex-wrap: wrap;
    align-items:center;
    justify-content:center
}
.tabs-container input[type='radio']{
   display: none;
}
.tabs-container label{
    font-size: 14px;
    padding: 20px;
    border:1px  solid #999
}
.tabs-container .tab-content {
    width: 100%;
    padding: 20px;
    order: 1;
    display: none;
}
.tabs-container input[type='radio']:checked + label + .tab-content {
    display: block;
}
.tabs-container input[type='radio']:checked + label {
    border:1px solid red;
} */

.main-product__top {
    display: grid;
    grid-template-columns: 50% 1fr;
}
.is-show-price {
    display: flow;
}
.is-show-quantity {
    display: flow;
}
.cart-head {
    padding: 10px 0;
    border-bottom:1px solid #e9e9e9 ;
}

.cart-head__item {
    text-transform: uppercase;
}

.cart-body__item {
    padding-top: 20px !important;
}

.demo {
    border:0;
    background:red ;
    
}
.demo:focus-visible {
    border:0;
    box-shadow: none;
    
}
@media screen and (max-width:960px) {
    .is-show-price {
        display: none;
    }
}
@media screen and (max-width:768px) {
    .is-show-quantity {
        display: none;
    }
}
