:root {
    --color-transparent: transparent;
    --color-black: #000;
    --color-white: #fff;

    --color-black-text: #000;
    --color-white-text: #fff;
    --color-gray-text:#999;

    --color-black-bg: #000;
    --color-white-bg: #fff;

    --color-black-button: #000;
    --color-white-button: #fff;

    --color-gray-border: #999;
    --color-black-border: #000;
    --color-white-border: #fff;
}
a,
p{
    font-family: var(--font-body-family);
    font-style: var(--font-body-style);
   
}
/* text color */
.text_link{
    text-decoration: none;
}
.text_black{
    color:var(--color-black-text);
}
.text_white{
    color: var(--color-white-text)
}

.uppercase{
    text-transform: uppercase !important;
}

/* text weight */
.text_400{
    font-weight: 400;
}
.text_500{
    font-weight: 500;
}
.text_600{
    font-weight: 600;
}

/* margin */
.mt_10{
    margin-top: 10px;
}
.mb_10{
    margin-bottom: 10px;
}
.mr_10{
    margin-right: 10px;
}
.ml_10{
    margin-left: 10px;
}
.mg_20{
    margin: 20px;
}
.mt_20{
    margin-top: 20px;
}
.mb_20{
    margin-bottom: 20px;
}
.mr_20{
    margin-right: 20px;
}
.ml_20{
    margin-left: 20px;
}
.mg_20{
    margin: 20px;
}

/* display center*/
.custom_center{
    display: flex;
    justify-content: center;
    align-items: center;
}
.center_justify{
    display: flex;
    justify-content: center;
}
.center_align{
    display: flex;
    align-items: center;
}

.width-full {
    width:100% ;
}

/* row column */
.flex_container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.flex_column {
    flex-grow: 1;
}

/* button */
.custom_btn {
    padding:13px 20px;
}

.container-content-card {
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 25px;
    margin:15px;
    background: #ECEDED;
}

.container-content-card .custom-icon {
    height: 35px !important;
    width: 35px;
}
.container-content-card h1,
.container-content-card h2,
.container-content-card h3,
.container-content-card h4,
.container-content-card h5,
.container-content-card p{
    margin: 0;
    color: #000;
}
.container-content-card p {
    color: #999;
}

.list-text-icon-container .list-text-icon__content{
    display: flex;
    justify-content: center;
    align-items: center ;
    flex-direction: column;
    padding: 30px 20px;
    text-align: center;
}
.list-text-icon-container .bd-right{
    border-right:1px solid #999;
}
.list-text-icon-container .bg-gray {
    background: #f7f7f7;
}
.list-text-icon__content .wrap-img {
    margin-bottom: 15px;
    color:#999
}



.tabs-container {
    display: flex;
    flex-wrap: wrap;
    align-items:center;
    justify-content:center
}
.tabs-container input[type='radio']{
   display: none;
}
.tabs-container label{
    font-size: 14px;
    padding: 20px;
    border:1px  solid #999
}
.tabs-container .tab-content {
    width: 100%;
    padding: 20px;
    order: 1;
    display: none;
}
.tabs-container input[type='radio']:checked + label + .tab-content {
    display: block;
}
.tabs-container input[type='radio']:checked + label {
    border:1px solid red;
}