.blogs__card {
   margin-top: 60px;
}
.blog__card-wrap-img{
    height: 25rem;
}
.blog__card-img {
    width: 100%;
    height: 100%;
}
.blog__card-img img{
   object-fit: cover;
   width:100%; 
   height:100%
}
.blog__card-content{
    margin-top: 30px;
}
/* content */
.blog__card-content-info {
    display: flex;
}
.blog__card-content-title{
    text-transform: uppercase;
    font-size: var(--font-text-base);
    font-weight: var(--font-text-semibold);
}
.blog__card-content-title a{
    color: #000;
    text-decoration:none
}
.blog__card-content-title a:hover{
    color: #000;
    opacity: 0.5;
}
.blog__card-content-date {
    border-right:1px solid #999; 
    margin-right:15px;
    padding-right:15px;
    font-size: var(--font-text-xs);
    color:#999
}
.blog__card-content-author {
    font-size: var(--font-text-xs);
}
.blog__card-content-author span:last-child:hover{
    opacity: 0.5;
}
.blog__card-content-description p{
    font-size: var(--font-text-sm);
    font-family: var(--font-family-1);
    color: #666;
}